<div id="footer">
    <div id="menu">    
        <div id="acceuil" class="loop">
            Acceuil
        </div>
        <div id="apropos" class="loop">
                À propos
        </div>
        <div id="listServices" >
            <div id="services" class="loop">
                Services
                <img src="Images/dropIcon.svg" alt="drop" (click)="dropService">
            </div>
            <div id="dropService" class="vide">
                <div id="civil"  class="loop" class="marge">
                    Genie civil
                </div>
                <div id="immobilier"  class="loop" class="marge">
                    Immobilier
                    </div>
                <div id="terrassement" class="loop" class="marge">
                    Terrassement
                </div>
            </div>    
        </div>
        <div id="listDevis" >
            <div id="devis" class="loop">
                Devis
                <img src="Images/dropIcon.svg" alt="drop">
            </div>
            <div id="dropDevis" class="vide">
                <div id="construction"  class="loop marge">
                    Construction
                </div>
                <div id="plan" class="loop marge">
                    Plan
                </div>
            </div>        
        </div>
        <div id="contact" class="loop">
            Contact
        </div>
        <div id="logo" class="loop">
            <img src="Images/logo.svg" alt="logo">
        </div>
    </div>
</div>