nav{
    display: flex;
    height: 60px;
    align-items: center;
    animation: fade-down 1s;
}

#logo{
    width: 95px;
    margin-left: 100px;
    margin-right: auto;
    cursor: pointer;
}

#menu{
    display: flex;
    color: #fff;
    gap:80px;
    align-items: center;
    font-size: var(--body-font-size-petit);
    width: 650px;
    margin-left: auto;
    margin-right: 100px;
}

#acceuil,#apropos{
    cursor: pointer;
}

#services,#devis{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

#dropService,#dropDevis{
    background-color: #FA5608;
    position :absolute ;
    margin-top: 17px;
    width: 100px;
    text-align: center;
    border-radius : 5px;
}

.marge{
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.hide{
    display: none;
}

.marge:hover{
    background-color: #000000;
}

#contact{
    width: 100px;
    height: 25px;
    text-align: center;
    background: linear-gradient(270deg, #FA5608 0%, #F9AD89 100%);
    border-radius: 33px;
    color: #000000;
    font-weight: var(--title-font-weight);
    cursor: pointer;
}

#contact:hover{
    scale: 110%;
    transition-duration: 0.4s;
    color: #fff;
}

.cover:hover{
    color: #FA5608;
    transition-duration: 0.4s;
    scale: 110%;
}

#dropImg{
    display: none;
    width: 40px;
    margin-left: auto;
    margin-right: 95px;
    cursor: pointer;
}

#list{
    position: absolute;
    width: 100%;
    background-color: #FA5608;
    color: #fff;
    text-align: center;
}

.display{
    display: none;
}

.dropMove:hover{
    background-color: #FA5608;
    border-radius: 10px;
}

@media screen and (max-width : 1080px) {
    #dropImg{
        display: inherit;
    }
    
    #list{
        animation: fade-down 0.5s;    
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
    }
    #menu{
        display: none;
    }
}
@media screen and (max-width : 600px) {
    #logo{
        margin-left: 30px;
    }
    #dropImg{
        margin-right: 30px;
    }
}