<nav id="nav">
    <div id="logo">
        <img src="Images/logo.svg" alt="logo">
    </div>
    <div id="menu">
        <div id="acceuil">
            Acceuil
        </div>
        <div id="apropos">
            À propos
        </div>
        <div id="services">
            Services
            <img src="Images/dropIcon.svg" alt="drop">
        </div>
        <div id="devis">
            Devis
            <img src="Images/dropIcon.svg" alt="drop">
        </div>
        <div id="contact">
            Contact
        </div>
    </div>
</nav>