#landing{
background-image: url('../../../public/Images/background.svg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
height: 680px;
}