<div id="landing">
    <div id="nav">
        <app-navbar></app-navbar>
    </div>
    <div id="header">
        <div id="imgHead">
            <img src="Images/imageHead.svg" alt="Image">
        </div>
        <div id="headDescription">
            <div id="accroche">
                Réalisez votre rêve de construction  
            </div>
            <div id="petitText">
                Nous utilisons des méthodologies modernes pour optimiser  la réalisation de vos demande.  
            </div>
            <div id="boutonHead">
                <div id="boutonText"> Commencez votre construction </div>
                <img src="Images/bouton.svg" alt="bouton">
            </div>
        </div>
    </div>
    <div id="reseau">
        <a href="" class="anime"><img src="Images/insta.svg" alt="insta"></a>
        <a href="" class="anime"><img src="Images/whatsapp.svg" alt="whatsapp"></a>
        <a href="" class="anime"><img src="Images/facebook .svg" alt="facebook"></a>
    </div>
</div>

